body {
	font-family: sans-serif;
	color: black;
	text-align: center;
}

img {
	padding-top: 15%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	width: 50%;
	padding-bottom: 3rem;
}
.search-bar {
	width: 554px;
	height: 35px;
	border-radius: 20px;
	opacity: 0.2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
}
.flex-container {
	display: flex;
	padding-top: 7px;
}
.icon-container {
	flex-grow: 1;
	text-align: center;
	font-size: 10px;
}

input {
	border: 0em;
	padding-top: 10px;
	width: 100%;
	font-size: large;

	outline: none;
}
.footer-right {
	padding-right: 10px;
	display: inline-block;
}
.footer {
	display: inline-block;
	border-radius: 5px;
	width: 8rem;
	padding: 2px;
	text-align: center;
	box-shadow: 0px 0px 2px;
	opacity: 0.4;
	background-color: whitesmoke;
	color: black;
}
.footer:hover {
	box-shadow: 0px 0px 6px;
	cursor: pointer;
}

footer {
	text-align: center;
	padding-top: 30px;
}
.link-container {
	display: inline-block;
	text-align: center;
	font-size: smaller;
}
.link-container a {
	text-decoration: none;
	font-size: smaller;
}
.languages {
	text-align: center;
	padding-top: 15px;
}
